h1 Log In
fuLogin(type='github').btn.btn-default Github
  |  Github
fuLogin(type='google').btn.btn-default.i.fa.fa-google-plus.fa-lg
fuLogin(type='facebook').btn.btn-default
fuLogin(type='twitter').btn.btn-default
button.btn.btn-default.i.fa.fa-envelope.fa-lg(ng-click="emailLogin = !emailLogin")  Email
button.btn.btn-default.i.fa.fa-user.fa-lg(ng-click="Auth.$login('anonymous')", ng-hide="Auth.user")  Anonymous

.well(ng-show="emailLogin")
  newfusignupform



//- h1 Regular Log In/Out
//- span(ng-show="Auth.user")
//-   | {{Auth.user.uid}}  |  
//-   a(ng-click="Auth.$logout()") logout
//- a(ng-click="Auth.$login('anonymous')", ng-hide="Auth.user") login

//- pre {{Auth}}
